<p>my name is {{ name }}</p>
<p>my age is {{ age }}</p>
<p>my city is {{ getCity() }}</p>

<button class="btn btn-primary" [disabled]="isDisabled">Click me</button>
<br><br>
<label for=""><input type="text" [value]="searchValue"></label><br>
<label for=""><input type="text" [value]="HI"></label>

<label for=""><input type="text"[value]="test"></label>

<p [innerText]="name"></p>

<!---function use----->
<button class="btn btn-danger" (click)="changeName()">change</button>
<p>{{ name }}</p>
<!------we can use directly assign value------>
<button class="btn btn-danger"(click)="name='jaseema';">click</button>